* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #4e4e4e;
  background-color: #f5f5f5;
  overflow-x: hidden;
}

body a {
  text-decoration: none !important;
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px !important;
    padding-left: 50px !important;
  }
  nav ul li a {
    font-size: 16px !important;
  }
  .intro {
    background: url(../img/banner.jpg) no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    background-attachment: fixed !important;
  }
}

@media only screen and (max-width: 858px) {
  body {
    overflow-x: hidden;
  }
  .container {
    padding: 0.5rem !important;
  }
  .container .row {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .container .logo {
    margin-bottom: 1%;
  }
  .events .timer {
    font-size: 1rem !important;
  }
  .checkbtn {
    display: block !important;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: -105%;
    text-align: center;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
    width: 100%;
  }
  nav ul li a {
    font-size: 20px;
  }
  nav ul li :hover,
  nav ul li .active {
    text-decoration: none;
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    top: 60px;
  }
  .intro {
    background: url(../img/ban.jpg) no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    background-attachment: fixed !important;
  }
}

.nav {
  padding: 0;
}

.nav nav {
  position: fixed;
  background: #222020;
  height: 60px;
  width: 100%;
  top: 0;
  z-index: 99;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav nav label.logo {
  color: white;
  font-size: 35px;
  line-height: 60px;
  padding: 0 0 0 100px;
  font-weight: bold;
}

.nav nav ul {
  float: right;
}

.nav nav ul li {
  display: inline-block;
  line-height: 60px;
  margin: 0 5px;
}

.nav nav ul li a {
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 7px 13px;
  font-weight: bold;
}

.nav nav ul li .active,
.nav nav ul li :hover {
  text-decoration: none;
  background: #1e1e1e;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav nav .checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 60px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

.nav #check {
  display: none;
}

.intro {
  background: url(../img/ban.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: calc(100vh - 0px);
  position: relative;
}

.intro-overlay {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.9;
}

.intro-contain {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.intro-contain .container {
  position: absolute;
  top: 55%;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.intro-contain .container .intro-tittle {
  color: #fff;
  font-weight: 700;
  font-size: 3rem;
}

.intro-contain .container h2 {
  color: #fff !important;
  font-weight: 600 !important;
  font-size: 2rem !important;
}

.intro-contain .container .intro-job {
  color: #fff;
  font-weight: 300;
  font-size: 1.2rem;
}

.featured {
  margin-top: 4rem;
}

.featured .container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.featured .container-tittle {
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.2px solid #e0d7d7;
  margin-bottom: 3rem;
}

.featured .container-tittle h3 {
  margin: 0;
}

.featured .container-tittle-left {
  border-bottom: 2px solid #4e4e4e;
}

.featured .container-tittle-right {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured .container-tittle-right a {
  margin: 0 2%;
  width: 100%;
  color: #4e4e4e;
}

.featured .container-left {
  padding: 0;
  margin: 0;
  background-image: url(../img/interview-690x410.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  position: relative;
}

.featured .container-left .content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.featured .container-left .content .type {
  text-align: center;
  width: 20%;
  height: 20%;
  line-height: 2rem;
  color: white;
  padding: 0 3%;
}

.featured .container-left .content .type-text {
  width: 100%;
  height: 100%;
  background-color: #ff0000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured .container-left .content .box {
  height: 80%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2%;
}

.featured .container-left .content .box .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #4e4e4e;
  opacity: 0.3;
  z-index: 0;
}

.featured .container-left .content .box-tittle {
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  z-index: 1;
}

.featured .container-left .content .box-views {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
}

.featured .container-left .content .box-views-date {
  color: #e7e7e7;
}

.featured .container-left .content .box-views-date i {
  margin-right: 2px;
}

.featured .container-left .content .box-views-number {
  color: #e7e7e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured .container-left .content .box-views-number-comments {
  margin-right: 20px;
}

.featured .container .container-left:hover .overlay {
  background: #0082e6;
}

.featured .container-right {
  padding: 0;
  margin: 0;
  height: 100%;
}

.featured .container-right .row {
  margin: 0;
}

.featured .container-right .box-img {
  overflow: hidden;
  padding: 0;
  width: 100%;
  padding: 1%;
  position: relative;
}

.featured .container-right .box-img .img {
  padding: 50%;
  background-size: cover;
  background-position: center;
}

.featured .container-right .box-img .img .img-text {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10%;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured .container-right .box-img .img-1 {
  background-image: url(../img/1-200x200.jpg);
}

.featured .container-right .box-img .img-2 {
  background-image: url(../img/2-200x200.jpg);
}

.featured .container-right .box-img .img-3 {
  background-image: url(../img/3-200x200.jpg);
}

.featured .container-right .box-img .img-4 {
  background-image: url(../img/4-200x200.jpg);
}

.recent-news {
  margin-top: 4rem;
}

.recent-news .container {
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

.recent-news .container-left {
  padding: 0;
  border-bottom: 0.2px solid #e0d7d7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.recent-news .container-left .tittle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recent-news .container-left .tittle h3 {
  border-bottom: 2px solid #4e4e4e;
  margin: 0;
}

.recent-news .container-left .content {
  border-top: 0.2px solid #e0d7d7;
  border-right: 0.2px solid #e0d7d7;
  width: 100%;
}

.recent-news .container-left .content .box {
  margin: 3rem 0;
  width: 100%;
}

.recent-news .container-left .content .box .img {
  padding: 0.2rem 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.recent-news .container-left .content .box .img img {
  width: 100%;
}

.recent-news .container-left .content .box .description {
  width: 100%;
  padding: 0.2rem 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recent-news .container-left .content .box .description .tittle-description {
  margin-bottom: 4%;
}

.recent-news .container-left .content .box .description .tittle-description h4 {
  color: #000;
  font-weight: bold;
  font-size: 18px;
}

.recent-news .container-left .content .box .description .view {
  font-size: 13px;
  color: #888888;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5%;
}

.recent-news .container-left .content .box .description .view .interview {
  background: #18ca5f;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  padding-left: 4%;
  padding-right: 4%;
  margin-right: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recent-news .container-left .content .box .description .view .date {
  margin-right: 2%;
}

.recent-news .container-left .content .box .description .view .comments {
  margin-right: 2%;
}

.recent-news .container-left .content .box .description .text {
  font-size: 14px;
  color: #888888;
}

.recent-news .container-right .box-1 {
  border-bottom: 0.2px solid #e0d7d7;
}

.recent-news .container-right .box-1 .tittle {
  font-size: 16px;
  font-weight: bold;
}

.recent-news .container-right .box-1 .content .row {
  padding-bottom: 1rem;
}

.recent-news .container-right .box-1 .content .col-4 {
  width: 100%;
  padding: 3%;
}

.recent-news .container-right .box-1 .content .col-4 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #337ab7;
  padding: 20%;
  color: #fff;
  font-size: 13px;
}

.recent-news .container-right .box-1 .content .col-4 a i {
  font-size: 25px;
}

.recent-news .container-right .box-1 .content .col-4 .fb {
  background: #337ab7;
}

.recent-news .container-right .box-1 .content .col-4 .twitter {
  background: #1dcaff;
}

.recent-news .container-right .box-1 .content .col-4 .youtube {
  background: #e52d27;
}

.recent-news .container-right .box-2 {
  border-bottom: 0.2px solid #e0d7d7;
}

.recent-news .container-right .box-2 .tittle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.recent-news .container-right .box-2 .content .post {
  margin: 0;
  margin-bottom: 2rem;
}

.recent-news .container-right .box-2 .content .post-img {
  padding: 8%;
  background-position: center;
  background-size: cover;
}

.recent-news .container-right .box-2 .content .post-img-1 {
  background-image: url(../img/1-190x132.jpg);
}

.recent-news .container-right .box-2 .content .post-img-2 {
  background-image: url(../img/2-190x132.jpg);
}

.recent-news .container-right .box-2 .content .post-img-3 {
  background-image: url(../img/3-190x132.jpg);
}

.recent-news .container-right .box-2 .content .post-img-4 {
  background-image: url(../img/4-190x132.jpg);
}

.recent-news .container-right .box-2 .content .post-des {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.recent-news .container-right .box-2 .content .post-des-tit {
  font-size: 14px;
  font-weight: bold;
  color: #0807078f;
  margin-bottom: 5%;
}

.recent-news .container-right .box-2 .content .post-des-views {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  color: #888888;
}

.recent-news .container-right .box-2 .content .post-des-views .comments {
  margin-right: 10%;
}

.recent-news .container-right .box-3 .content {
  padding: 10%;
  background: #eeeeee;
}

.recent-news .container-right .box-3 .content h2 {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #000;
  margin-bottom: 15%;
}

.recent-news .container-right .box-3 .content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.recent-news .container-right .box-3 .content form input {
  background: #fff;
  text-align: center;
  height: 54px;
  margin-bottom: 20px;
  border: none;
  font-size: 14px;
}

.recent-news .container-right .box-3 .content form input:hover {
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
}

.recent-news .container-right .box-3 .content form .btn-signin {
  display: block;
  text-align: center;
  padding: 17px 28px 15px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color: #fff !important;
  border-radius: 3px;
  background-color: #3c98ff;
  text-decoration: none !important;
  outline: none !important;
  visibility: visible;
  border: none;
  white-space: normal;
  -webkit-box-shadow: 0 2px 0 #567ab4;
          box-shadow: 0 2px 0 #567ab4;
  -webkit-transition: opacity 0.2s ease-in !important;
  transition: opacity 0.2s ease-in !important;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  opacity: 1;
}

.recent-news .container-right .box-3 .content form .btn-signin:hover {
  opacity: 0.8;
}

.recent-videos {
  margin-top: 3rem;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  background: #131619;
}

.recent-videos .container {
  padding: 0;
}

.recent-videos .container .tittle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem 0;
}

.recent-videos .container .tittle h3 {
  margin: 0;
  color: #fff;
}

.recent-videos .container .tittle .recent-owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recent-videos .container .tittle .recent-owl-nav .prev-next {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20%;
  border: 1px solid #fff;
  color: #fff;
}

.recent-videos #slick {
  padding-bottom: 4rem;
}

.recent-videos #slick .container .row .col-12 .slider-content .slider-items {
  margin: 0 10px;
}

.recent-videos #slick .container .row .col-12 .slider-content .slider-items .name-img .img-1 {
  background-image: url(../img/1-s.jpg);
}

.recent-videos #slick .container .row .col-12 .slider-content .slider-items .name-img .img-2 {
  background-image: url(../img/2-s.jpg);
}

.recent-videos #slick .container .row .col-12 .slider-content .slider-items .name-img .img-3 {
  background-image: url(../img/3-s.jpg);
}

.recent-videos #slick .container .row .col-12 .slider-content .slider-items .name-img .img-4 {
  background-image: url(../img/4-s.jpg);
}

.recent-videos #slick .container .row .col-12 .slider-content .slider-items .name-img .img-5 {
  background-image: url(../img/5-s.jpg);
}

.recent-videos #slick .container .row .col-12 .slider-content .slider-items .name-img .img-6 {
  background-image: url(../img/6-s.jpg);
}

.recent-videos #slick .container .row .col-12 .slider-content .slider-items .items {
  -webkit-transition: all 2s;
  transition: all 2s;
}

.recent-videos #slick .container .row .col-12 .slider-content .slider-items .items-img {
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 20%;
}

.recent-videos #slick .container .row .col-12 .slider-content .slider-items .items-img .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
}

.recent-videos #slick .container .row .col-12 .slider-content .slider-items .items-img .i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
}

.recent-videos #slick .container .row .col-12 .slider-content .slider-items .items-img .i i {
  font-size: 4rem;
  color: #fff;
}

.recent-videos #slick .container .row .col-12 .slider-content .slider-items .items-text {
  padding: 2%;
  color: #fff !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(42, 64, 69, 0.3);
}

.recent-videos #slick .container .row .col-12 .slider-content .slider-items .items-text h4 {
  font-size: 14px;
  font-weight: bold;
  width: 70%;
}

.recent-videos #slick .container .row .col-12 .slider-content .slider-items .items-text .view {
  font-size: 12px;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recent-videos #slick .container .row .col-12 .slider-content .slider-items .items-text .view span {
  margin: 0 2px;
}

.recent-videos #slick .container .row .col-12 .slider-content .slider-items .items:hover .overlay {
  opacity: 0.7;
}

.recent-videos #slick .container .row .col-12 .slider-content .slider-items .items:hover .i {
  opacity: 1;
}

.recent-videos #slick .container .row .col-12 .slider-content .slider-items .items:hover .items-text {
  background: #3c98ff;
}

.events {
  margin-top: 4rem;
}

.events .container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

.events .container .tittle {
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.2px solid #e0d7d7;
  margin-bottom: 3rem;
}

.events .container .tittle h3 {
  margin: 0;
  border-bottom: 2px solid #4e4e4e;
}

.events .container .contain {
  margin: 0;
}

.events .container .contain .left-list {
  padding: 0;
}

.events .container .contain .left-list .name-img .img-1 {
  background-image: url(../img/1-e.jpg);
}

.events .container .contain .left-list .name-img .img-2 {
  background-image: url(../img/2-e.jpg);
}

.events .container .contain .left-list .name-img .img-3 {
  background-image: url(../img/3-e.jpg);
}

.events .container .contain .left-list .name-img .img-4 {
  background-image: url(../img/4-e.jpg);
}

.events .container .contain .left-list .name-img .img-5 {
  background-image: url(../img/5-e.jpg);
}

.events .container .contain .left-list .item-event {
  width: 100%;
  padding: 2%;
  margin: 0 0 2px 0;
  background: #c5c4c4;
}

.events .container .contain .left-list .item-event .img {
  padding: 8%;
  background-size: cover;
  background-position: center;
}

.events .container .contain .left-list .item-event .info-tittle span {
  font-weight: bold;
  font-size: 14px;
}

.events .container .contain .left-list .item-event .info-date {
  font-size: 12px;
  color: #3c98ff;
}

.events .container .contain .event-tittle {
  margin-bottom: 1rem;
}

.events .container .contain .event-tittle h2 {
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  color: #000;
}

.events .container .contain .event-data {
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5rem;
}

.events .container .contain .event-data .event-data-item {
  display: -webkit-box;
  margin-right: 5%;
}

.events .container .contain .event-data .event-data-item i {
  color: #337ab7;
  margin-right: 4px;
}

.events .container .contain .event-wrap {
  padding: 20%;
  background-image: url(../img/event-img.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.events .container .contain .event-wrap .timer {
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  left: 0;
  color: #fff;
  text-align: center;
  font-weight: bold;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
}

.events .container .contain .event-wrap .overlay {
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  left: 0;
  background: #1a1d2c;
  opacity: 0.8;
  z-index: 0;
}

.events .container .contain .event-wrap .button {
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 15%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.events .container .contain .event-wrap .button .btn-signin {
  width: 27% !important;
  background: #3c98ff;
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 3px;
  text-transform: uppercase;
  -webkit-box-shadow: 0 2px 0 #567ab4;
          box-shadow: 0 2px 0 #567ab4;
  -webkit-transition: opacity 0.2s ease-in !important;
  transition: opacity 0.2s ease-in !important;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.events .container .contain .event-wrap .button .btn-signin:hover {
  background: #2884ec;
}

.events .container .contain .event .event-wrap:hover .timer {
  height: 100%;
  width: 100%;
  margin: 2% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.events .container .contain .event .event-wrap:hover .overlay {
  height: 100%;
}

.events .container .contain .event .event-wrap:hover .button {
  opacity: 1;
}

.popular {
  width: 100%;
  margin-top: 4rem;
  background-image: url(../img/brands_bg.jpg);
  background-attachment: fixed;
}

.popular .container {
  margin: 0 auto;
  padding: 0;
}

.popular .container .tittle {
  padding-top: 3rem;
}

.popular .container .tittle h3 {
  text-align: center;
  color: #fff;
}

.popular .container .content {
  margin: 0;
  padding: 3rem 0;
  width: 100%;
}

.popular .container .content .logo .item {
  padding: 15%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

.popular .container .content .logo .item span {
  font-size: 12px;
  font-weight: bold;
  color: #1d1b1b94;
}

.database {
  margin-top: 4rem;
}

.database .container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

.database .container .tittle {
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.2px solid #e0d7d7;
  margin-bottom: 3rem;
}

.database .container .tittle h3 {
  margin: 0;
  border-bottom: 2px solid #4e4e4e;
}

.database .container .content {
  width: 100%;
  margin: 0;
}

.database .container .content .choose {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.database .container .content .choose .input-1 {
  width: 32%;
  margin-right: 3%;
}

.database .container .content .choose .input-2 {
  width: 32%;
  margin-right: 3%;
}

.database .container .content .choose .input-3 {
  width: 13%;
  margin-right: 3%;
}

.database .container .content .choose .input-4 {
  width: 14%;
}

.database .container .content .list-car .item-car {
  width: 100%;
}

.database .container .content .list-car .item-car .content-car {
  margin-top: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 0.2px solid #e0d7d7;
}

.database .container .content .list-car .item-car .content-car .heading {
  margin-bottom: 10%;
}

.database .container .content .list-car .item-car .content-car .heading .rmv_txt_drctn {
  color: #333333;
  font-weight: bold;
}

.database .container .content .list-car .item-car .content-car .heading .rmv_txt_drctn span {
  color: #3c98ff;
}

.database .container .content .list-car .item-car .content-car .image a .image-inner {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}

.database .container .content .list-car .item-car .content-car .image a .image-inner img {
  width: 100%;
}

.database .container .content .list-car .item-car .content-car .image a .image-inner .fa-round {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(42, 64, 69, 0.3);
  opacity: 0;
}

.database .container .content .list-car .item-car .content-car .image a .image-inner .i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.database .container .content .list-car .item-car .content-car .image a .image-inner .i i {
  font-size: 2.5rem;
  background: #3c98ff;
  color: #fff;
  border-radius: 50%;
  padding: 3%;
  opacity: 0;
}

.database .container .content .list-car .item-car .content-car .image a .image-inner:hover .fa-round {
  opacity: 0.7;
}

.database .container .content .list-car .item-car .content-car .image a .image-inner:hover i {
  opacity: 1;
}

.database .container .content .list-car .item-car .content-car .meta-middle {
  margin: 9% 0;
}

.database .container .content .list-car .item-car .content-car .meta-middle .middle-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.database .container .content .list-car .item-car .content-car .meta-middle .middle-info .car-info .price {
  color: #333333;
  font-weight: bold;
}

.database .container .content .list-car .item-car .content-car .meta-middle .middle-info .car-info .mpg {
  font-size: 12px;
}

.database .container .content .list-car .item-car .content-car .meta-middle .middle-info .rating-stars i {
  color: #18ca5f;
}

.database .container .content .list-car .item-car .content-car .meta-middle .middle-info .rating-text {
  font-size: 12px;
}

.database .container .content .list-car .item-car .content-car .meta-bottom p {
  font-size: 14px;
}

.database .container .content .load-more {
  width: 100%;
  margin: 2% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.database .container .content .load-more .btn-load-more {
  padding: 0.5rem 2rem;
  background: #3c98ff;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
  -webkit-box-shadow: 0 2px 0 #567ab4;
          box-shadow: 0 2px 0 #567ab4;
  -webkit-transition: opacity 0.2s ease-in !important;
  transition: opacity 0.2s ease-in !important;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.database .container .content .load-more .btn-load-more:hover {
  background: #2884ec;
}

.footer {
  background: #232628;
  color: #fff;
}

.footer .container .padding {
  padding: 5% 1%;
}

.footer .container h6 {
  font-weight: bold;
  margin-bottom: 1.8rem;
}

.footer .container p {
  font-size: 14px;
}

.footer .container .advertising .more-info {
  width: 100%;
  margin: 2% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .container .advertising .more-info .btn-load-more {
  padding: 0.3rem 1.8rem;
  background: #18ca5f;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
  -webkit-box-shadow: 0 2px 0 #169f36;
          box-shadow: 0 2px 0 #169f36;
  -webkit-transition: opacity 0.2s ease-in !important;
  transition: opacity 0.2s ease-in !important;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.footer .container .advertising .more-info .btn-load-more:hover {
  background: #33b651;
}

.footer .container .galery .row {
  margin: 0;
  width: 100%;
  padding: 0;
}

.footer .container .galery .row .img-item {
  padding: 1%;
}

.footer .container .galery .row .img-item img {
  width: 80%;
}

.footer .container .links .menu-links a {
  font-size: 14px;
  color: #888888 !important;
}

.footer .container .links .menu-links a:hover {
  color: #696767 !important;
}

.footer .container .subcribe input {
  width: 100%;
}

.footer .container .subcribe .button {
  width: 100%;
  margin: 2% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .container .subcribe .button .btn-signin {
  padding: 0.3rem 1.8rem;
  background: #3c98ff;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
  -webkit-box-shadow: 0 2px 0 #567ab4;
          box-shadow: 0 2px 0 #567ab4;
  -webkit-transition: opacity 0.2s ease-in !important;
  transition: opacity 0.2s ease-in !important;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.footer .container .subcribe .button .btn-signin:hover {
  background: #2884ec;
}

.footer .container .hr {
  height: 1px;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #888888;
}

.footer .container .copy p {
  color: #888888;
}
/*# sourceMappingURL=style.css.map */